version: "3.9"

services:
  postgres:
    container_name: mail-assistant-postgres
    image: pgvector/pgvector:pg14
    ports:
      - 5432:5432
    volumes:
      - ./db/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=secret
      - POSTGRES_USER=user
      - POSTGRES_DB=mail-assistant
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mail-assistant"]
      interval: 1s
      timeout: 2s
      retries: 5
